<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a href="https://rubocop.org">RuboCop</a>
        <span class="separator">//</span>
        <a href="{{or site.url (or siteRootUrl siteRootPath)}}">Docs</a>
      </div>
      <div class="navbar-item">
        <div id="docsearch"></div>
      </div>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href=index.html>Home</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Style Guides</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://rubystyle.guide">Ruby</a>
            <a class="navbar-item" href="https://rails.rubystyle.guide">Rails</a>
            <a class="navbar-item" href="https://rspec.rubystyle.guide">RSpec</a>
            <a class="navbar-item" href="https://minitest.rubystyle.guide">Minitest</a>
          </div>
        </div>
        <a class="navbar-item" href="https://www.rubydoc.info/gems/rubocop">API Docs</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Projects</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://github.com/rubocop/rubocop">RuboCop</a>
            <a class="navbar-item" href="https://github.com/rubocop/rubocop-ast">RuboCop AST</a>
            <a class="navbar-item" href="https://github.com/rubocop/rubocop-minitest">RuboCop Minitest</a>
            <a class="navbar-item" href="https://github.com/rubocop/rubocop-performance">RuboCop Performance</a>
            <a class="navbar-item" href="https://github.com/rubocop/rubocop-rails">RuboCop Rails</a>
            <a class="navbar-item" href="https://github.com/rubocop/rubocop-rake">RuboCop Rake</a>
            <a class="navbar-item" href="https://github.com/rubocop/rubocop-rspec">RuboCop RSpec</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Community</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://github.com/rubocop">GitHub Org</a>
            <a class="navbar-item" href="https://gitter.im/bbatsov/rubocop">Chat (Gitter)</a>
            <a class="navbar-item" href="https://opencollective.com/rubocop">Open Collective</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
